body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background: #f1f1f1;
}

.container {
    background: white;
    margin-right: auto;
    margin-left: auto;
}

.main-container.container {
    max-width: 1200px;
    padding-bottom: 0px;
    padding-top: 0px;
    box-shadow: none;
    padding-bottom: 50px;
    border-top: 4px solid #3F53A0;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    margin-bottom: 10px;
    margin-top: 40px;
}

.addMarginMain {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 60px;
}


ul.ulNavbar {
  list-style-type: none;
  background: #3F53A0;
}

ul.ulNavbar > li {
    float: left;
}

ul.ulNavbar > li > a:link, ul.ulNavbar > li > a:visited {
    text-decoration: none;
    color: white;
    background: #3F53A0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

dt.etiquetaC {
    text-align: center;
}

textarea#comment {
    width: -webkit-fill-available;
    height: 200px;
}

.barra_horizontal_ul{
  display: flex;
  justify-content: space-around;
}

ul.ulNavbar.barra_horizontal_ul {
    margin-top: 0px;
    border-top-width: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.botonEnvio{
  display: flex;
  justify-content: space-around;
}

.resComent {
    text-align: center;
}

h1.positive {
    color: mediumseagreen;
}

h1.negative {
    color: red;
}

.mainIndex{
  background: #7c9eff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

h3.titP {
    color: white;
    background: black;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

p.tit2 {
  color: white;
  text-align: center;
}

img {
    display: block;
    margin: auto;
}

.centrarText {
  font-size: 30px;
  text-align: center;
}
