{% extends 'base.html' %}

{% block content %}
  <h1 class="centrarText">About the proyect</h1>
  <p>The objective of the project consisted in the development of a platform dedicated to natural language processing. The platform will allow entering comments to obtain with great confidence whether they are positive or negative comments, analysis of sentences, etc.</p>
  <p>The development will be done in Python using the Flask microframework, the nltk library with multiple text corpus and the Stanford text analyzer.</p>
  <p>All the code is available on GitHub:</p>
  <a title="" href="https://github.com/xenahort/proyectoCloudComputing"><img class="imgCent" src="static/img/octobiwan.jpg"  height="300" width="300"/></a>
{% endblock %}
