{% extends 'base.html' %}

{% block content %}

  {% from "_formhelpers.html" import render_field %}

  <form name="sentMessage" id="opinionForm" method="POST">
    <div class="row control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        {{ render_field(form.comment, class='form-control') }}
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-12 botonEnvio">
        <button type="submit" name="button" class="btn btn-default">Send</button>
      </div>
    </div>
  </form>

  {% if res != '' %}
    <div class="resComent">
      {% if res == 'POSITIVE' %}
        <h1 class="positive">POSITIVE</h1>
      {% endif %}
      {% if res == 'NEGATIVE' %}
        <h1 class="negative">NEGATIVE</h1>
      {% endif %}
      {% if res == 'NEUTRAL' %}
        <h1>NEUTRAL</h1>
      {% endif %}
    </div>
  {% endif %}

{% endblock %}
